In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session


# Objective :
## Given a review findout that review is positive or negative

### How should we determine review is positive or negative?
    
>  We will use score as our matrix for defining the polarity of reviews
 if rating is 4 or 5 we will consider it positive
 if rating is 2 or 1 we will consider it negative
 if rating is 3 we will ignore as it is neutral.

In [3]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")


import sqlite3
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer

import re
# for more information about  Python regular expressions visit :  https://pymotw.com/2/re/
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

1.  ** Reading data**

In [4]:
# for kaggle
# conn = sqlite3.connect("/kaggle/input/amazon-fine-food-reviews/database.sqlite")
conn = sqlite3.connect("./database.sqlite")

filtered_input = pd.read_sql_query("""
                                    SELECT * FROM 
                                     Reviews
                                   WHERE SCORE != 3
                                  """, conn)                                                                
filtered_input.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
#  change the reviews >  3 positve rating and < 3 negative rating

def rating_parser(score):
    if score < 3:
        return 0
    return 1

#  now update the score rating in the score column
filtered_input["Score"].value_counts()
true_score = filtered_input["Score"]

# true_score.value_counts()
updated_score = true_score.map(rating_parser)
# #  update the score now
updated_score.value_counts()
filtered_input["Score"] =  updated_score

In [6]:
print("no of data in the input",filtered_input.shape)
filtered_input.head()

no of data in the input (525814, 10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,0,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,1,1350777600,Great taffy,Great taffy at a great price. There was a wid...

# Data cleaning and Data Processing

In [7]:
#  lets review some duplicated reviews in dataset
display = pd.read_sql_query("""
    SELECT UserId,ProductId, ProfileName,Time,Score, Text,Count(*)
    FROM Reviews
    GROUP BY UserId
    having Count(*) > 1
    """, conn
)
display.head(100)

,UserId,ProductId,ProfileName,Time,Score,Text,Count(*)
0,#oc-R115TNMSPFT9I7,B007Y59HVM,Breyton,1331510400,2,Overall its just OK when considering the price...,2
1,#oc-R11D9D7SHXIJB9,B005HG9ET0,"Louis E. Emory ""hoppy""",1342396800,5,"My wife has recurring extreme muscle spasms, u...",3
2,#oc-R11DNU2NBKQ23Z,B007Y59HVM,Kim Cieszykowski,1348531200,1,This coffee is horrible and unfortunately not ...,2
3,#oc-R11O5J5ZVQE25C,B005HG9ET0,Penguin Chick,1346889600,5,This will be the bottle that you grab from the...,3
4,#oc-R12KPBODL2B5ZD,B007OSBE1U,Christopher P. Presta,1348617600,1,I didnt like this coffee. Instead of telling y...,2
5,#oc-R12MGTQS5KZZRV,B005HG9ET0,"SKY2110 ""SKY2110""",1344211200,5,This is the highest PH level I can find withou...,3
6,#oc-R13EBF129DBX88,B007Y59HVM,mary,1344729600,2,This coffee is not what I expected. I thought...,2
7,#oc-R13NNUL4EKL4FL,B005HG9ET0,N. Chernyavskaya,1348358400,1,I tested the pH of this water. I am very disap...,3
8,#oc-R14ZSRYW2YB41B,B005HG9ET0,A. Crafton,1346284800,5,I drank this on ice after a workout. It was ve...,3
9,#oc-R15343ZW0UTLMR,B005ZBZLSU,"Lisa L. Nolen ""SimplyLisaLisa""",1346457600,1,"I shouldn't label myself a coffee connoisseur,...",2
10,#oc-R155JB2SA58E17,B005HG9ET0,Seanna,1347235200,5,"If you love bottled water, and are looking for...",3
11,#oc-R162D7S0A880MV,B005HG9ET0,Jish M.,1344211200,5,For those looking for a non-flavoured water be...,3
12,#oc-R163CP16SRRI50,B005HG9ET0,Jennifer L. Vido,1343865600,5,Essentia is purified water with a 9.5pH. What ...,3
13,#oc-R1669TSD0WO7EP,B007Y59HVM,tabo,1336176000,1,this has a chemical taste that ruins it for me...,2
14,#oc-R19EJ3VEA88T6O,B005HG9ET0,Delaney,1348099200,5,This is a very silky feeling water. I had to ...,3
15,#oc-R19W3DMF9X0I7C,B007Y59HVM,bonnie,1347494400,1,This coffee was not even drinkable. It was so ...,2
16,#oc-R1CF9LIM90SAB6,B005HG9ET0,William Bagley,1344124800,5,There are a few things that I look for in a bo...,3
17,#oc-R1CL2JEVUKLP2C,B005ZBZLSU,ct,1338940800,2,These Kcups?? were flimsy imitation want a bee...,2
18,#oc-R1DRI2RP4P2TRV,B007Y59HVM,lucas,1341705600,1,I like the idea like most people and saw many ...,2
19,#oc-R1E24XY86FJXDH,B007Y59HVM,SPG,1347148800,3,I ordered the coffee and was surprised to see...,2
20,#oc-R1GKUU1PTIDIZ7,B005HG9ET0,"Barbara Rhoades ""Jackie of all Trades""",1343779200,5,"Water is water, right? I thought so until I t...",3
21,#oc-R1GSBW9QIVY489,B005HG9ET0,"Ariaceliz ""changosdaughter""",1348704000,5,The bottle of water is huge and helps keep me ...,3
22,#oc-R1HCNLIP7REOF2,B007Y59HVM,Pamela Anne Huntdylan,1339372800,1,Im usually happy with all my purchases from Am...,2
23,#oc-R1HFLTAYDCLBBP,B005HG9ET0,"John Clark Craig ""author of Sun Position - Hi...",1341273600,2,"Essentia water tastes great, and its price is ...",3
24,#oc-R1HM2SQ1WTDKM1,B005ZBZM52,J. Voss,1337385600,1,This coffee tastes like dish water! Smells hor...,2
25,#oc-R1I879FCTH83GM,B005ZBZM52,NaRiHo,1334534400,2,These are nice but I have to admit I love my c...,2
26,#oc-R1ICFZ7CRFKA5N,B007Y59HVM,G. Myers,1350086400,1,"When I received my latest order, the bag said ...",2
27,#oc-R1J5JSGQL7KLJU,B005ZBZLSU,"Jeremy Staunton ""JS""",1342483200,3,"This coffee is a great buy, for the price. It ...",2
28,#oc-R1J5TQWBNLGLAY,B005ZBZLSU,Tara Roseberry-Fahmi,1330128000,2,"Well, lets say that I wish that I had heeded t...",2
29,#oc-R1K4OCJ8HEIEDY,B005HG9ET0,"Juli E Ocean ""The SilverPen Reviewer""",1344470400,5,"By now, you're among the millions of people dr...",3
...,...,...,...,...,...,...,...
70,#oc-R2MG5C3DMRU8Q0,B005HG9ET0,"J. Robson ""Reflective Artist & Product Designer""",1346025600,5,Ok.. lets get one thing straight.. I can't bel...,3
71,#oc-R2N91H7F3QEXMS,B005ZBZLSU,GalenaAlaska,1345766400,2,The concept for packaging this coffee was grea...,2
72,#oc-R2NE8ISCFVOS3,B0026LFFN8,kateness,1305763200,3,My cat cannot get enough of this food - so it ...,4
73,#oc-R2OOQE7R5EB0NO,B005ZBZM52,Rosemary Resler,1336608000,1,"Tastes just okay for the price, just a bit too...",2
74,#oc-R2OXMDDCX58FIL,B005HG9ET0,"MamaBear007 ""MamaBear007""",1341532800,3,I don't know the validity of the 9.5 PH claim ...,3
75,#oc-R2PWOJTSJYZRGQ,B007Y59HVM,Unprofessional Techie,1331596800,2,This coffee tastes like a good cup of gas stat...,2
76,#oc-R2QKJ7I0V53JJB,B005ZBZLSU,BullDog,1345507200,2,I purchased this product because the pods look...,2
77,#oc-R2QRIFHKMX74HY,B005ZBZM52,J. Walters,1339804800,3,A friend gave a few cups of this to try. Coff...,2
78,#oc-R2R45EEG606NCJ,B005HG9ET0,Leah Maines,1347580800,5,Essentia 9.5 pH Drinking Water is very refresh...,3
79,#oc-R2RZWR5FKM97NR,B005ZBZM52,"Robert B. Meyers ""sylert""",1334620800,2,I really like Blue Mountain coffee the best..G...,2
80,#oc-R2T2GL1NAC2UMH,B007Y59HVM,BGE,1345593600,4,I wish I didn't feel like I have to give this ...,2
81,#oc-R2VJODW8FRRXEJ,B005ZBZM52,"K. Ward ""Love to shop""",1331424000,1,I'm partial to a light to medium roast coffee....,2
82,#oc-R2W0C6DARSLJ0S,B005HG9ET0,M. Hammon,1347667200,5,Decided to try a 9.5 water hearing someone rav...,3
83,#oc-R2W66Y63G88976,B005HG9ET0,M. Gravel,1343606400,4,The first thing I look for in a water is the a...,3
84,#oc-R2XZVYL146WRFL,B005HG9ET0,"Iron Man ""JON""",1347840000,5,The Essentia 9.5 pH drinking water has a notic...,3
85,#oc-R2YKMI6BFV0RA7,B007OSBE1U,"Marjorie Crews ""MJC""",1347148800,2,This was okay. We feel this was a little misre...,2
86,#oc-R2YPVWM76O2TFX,B005HG9ET0,Just Loves Books,1346630400,5,I admit I have a hard time identifying differe...,3
87,#oc-R2ZARZZGRIU309,B007Y59HVM,"NoLimit24_FJ ""J Nolan""",1349395200,1,I have been drinking coffee for over 40 plus y...,2
88,#oc-R30NTIGTVO109I,B005HG9ET0,Jeffrey,1346112000,1,"Essentia water has a pH of about 6.5, a far cr...",3
89,#oc-R30QU6O45MNX74,B005ZBZLSU,pkw99,1329955200,1,Save yourself from trying these k-cups - not a...,2
90,#oc-R31AI08Q9HLVF1,B005HG9ET0,Brian Hawkinson,1348012800,5,Bottled water to me always seemed like a gimmi...,3
91,#oc-R32L0MMVMR414V,B007Y59HVM,M. Sutyak,1339977600,2,I purchased this because another reviewer like...,2
92,#oc-R34EIQSQ0VKF2N,B005ZBZLSU,GSpen,1341100800,1,This is the WORST coffee I have had in years. ...,2
93,#oc-R34PBE41YSFXZ4,B005ZBZM52,"Melvin Fields ""Tech Expert""",1344384000,2,Picked the Rainforest blend up at a local big ...,2
94,#oc-R34PQ2ORKQ6WCD,B005HG9ET0,"OutlawPoet ""OutlawPoet""",1346025600,5,"I am not a water expert. In fact, I am one of...",3
95,#oc-R34PXGSW6K9Q9A,B007Y59HVM,D. Mcdermott,1348617600,1,I bought these expecting a standard K cup. Wh...,2
96,#oc-R34S5XXW58I012,B005ZBZM52,Frances A. Tracy,1338595200,1,I found this coffee too bitter and strong. It...,2
97,#oc-R35AMNGET9A7FO,B007Y59HVM,Yomikee,1339545600,1,if you buy this coffee you will know you made ...,2
98,#oc-R35YUP5T21KW2U,B007Y59HVM,disappointed,1334016000,1,Extremely disappointed in the quality of this ...,2
99,#oc-R36LVL0A37GRQP,B007Y59HVM,V. Koenig,1350086400,3,My husband is a coffee drinker and has bought ...,2

In [8]:
# in dataset we have some user id and product id combination is same but timestamp and text of the review is different
#  this should be handled accordingly your need
g = pd.read_sql_query( """
select UserId,ProductId,count(1) from Reviews group by UserId,ProductId
having count(1) >1
                     """,conn)

g.head(100)
# lets check one of thosed data
filtered_input[ (filtered_input["UserId"] == "A102TGNH1D915Z" ) & (filtered_input["ProductId"] == "B00008DFK5")]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
220784,239325,B00008DFK5,A102TGNH1D915Z,LINDA Riley,2,3,1,1262131200,Not just for puppies...,"Although the product can be a bit pricey, it c..."
220793,239337,B00008DFK5,A102TGNH1D915Z,LINDA Riley,0,0,1,1264204800,Great distraction,When I want my dog to leave everyone alone for...

# Exploratory Data Analysis
## Data DeDuplication

### Data Might contains lots of duplicate like because of data collection error it 
### is necessary to remove those duplicated for unbiased analysis

In [9]:
# we can cleary see that below record is duplicated because the text and time stamp of the reviews are same which is very unlikely for the same 
# user
filtered_input[filtered_input["UserId"] == "#oc-R11D9D7SHXIJB9"]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
268373,290948,B005HG9ESG,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,1,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
421207,455534,B005HG9ERW,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,1,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
459536,496894,B005HG9ET0,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,1,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."

In [10]:
display= pd.read_sql_query("""
SELECT *
FROM Reviews
WHERE Score != 3 AND UserId="#oc-R11D9D7SHXIJB9"
ORDER BY ProductID
""", conn)
display.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,455534,B005HG9ERW,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
1,290948,B005HG9ESG,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."
2,496894,B005HG9ET0,#oc-R11D9D7SHXIJB9,"Louis E. Emory ""hoppy""",0,0,5,1342396800,Muscle spasms,"My wife has recurring extreme muscle spasms, u..."

## as we can see above the same user has multiple reviews with same time summary text profilename, helpfullnessNumerator and helpfullnessdenominator, only different thing is the productid
 

 Doing further analysis I found below information 

 detail page of  B005HG9ESG
 https://www.amazon.com/dp/B005HG9ESG

 detail page of B005HG9ERW
 https://www.amazon.com/dp/B005HG9ERW

 from above detail page of product we can infer that both the product are same and different only in quantity and flavour
 that is why this review is appearing in both the products
 so here this is not usefull  information ebcause it is redudant so we will only keep the first such review after sorting all the reviews by product id

In [86]:
sorted_data = filtered_input.sort_values?

In [95]:
# sort the filterd data frame by product Id 
sorted_data = filtered_input.sort_values("ProductId", axis=0, na_position="last",ascending=True, inplace=False, kind="quicksort")
print(sorted_data.shape)
#  remove all the duplicated and keep first record
final = sorted_data.drop_duplicates(subset={"UserId","ProductId","Time","Text"}, keep="first",inplace=False)
print(final.shape)

(525814, 10)
(524691, 10)

In [98]:
# checking % of data remains after removal
(final['Id'].size)/(filtered_input['Id'].size)*100

99.78642637890965

In [100]:
#  in the data set  HelpfulnessNumerator should be less than HelpfulnessDenominator
# This two record should be removed from the data
filtered_input_1 = filtered_input[filtered_input["HelpfulnessDenominator"] < filtered_input["HelpfulnessNumerator"]]
filtered_input_1

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
41159,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,1,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...
59301,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,1,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...

In [101]:
#  so we will filter out above rows
final =  final[final.HelpfulnessNumerator <= final.HelpfulnessDenominator]
final.shape

(524689, 10)

In [105]:
final.shape
# let's find out how many positive and negative ratings are there in our dataset
final["Score"].value_counts()

1    442966
0     81723
Name: Score, dtype: int64

Id                        524691
ProductId                 524691
UserId                    524691
ProfileName               524691
HelpfulnessNumerator      524691
HelpfulnessDenominator    524691
Score                     524691
Time                      524691
Summary                   524691
Text                      524691
dtype: int64

In [ ]:
final = sorted_data.drop_duplicates

In [ ]:
d

In [ ]:
display['Count(*)'].sum()